* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}


body {
    background-color: rgb(138, 135, 135);
}

.titulo {
    font-size: 3em;
    margin-left: 40px;
}

.boton {
    margin: 2em 0 0 13em;
}

.mini-title {
    margin: 4em 4em 0 3em;
}

h3 {
    color: red;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}

section > p {
    color: whitesmoke;
    margin: 1em 30px;
}

.pagin {
    text-align: center;
}

.list-pat {
    color: black;
    font-weight: bolder;
    text-align: center;
}

.indice {
    color: cyan;
}

main > h2 {
    color: red;
    text-align: center;
    font-size: 2.4em;
}

main > dl {
    font-size: 1.1em;
    text-align: center;
}

main {
    margin-bottom: 2em;
}


.icon-blog-1 {
    width: 3.5%;
    margin-left: 1em;
    display: inline;
}


/* responsive web disenig para celulares */

@media (max-width: 600px) {
    .titulo {
        margin: 0;
    }

    .mini-title{
        margin: 1em 0 0 0;
    }

    section > p {
        text-align: center;
        font-size: 1em;
    }

    .boton{
        margin: 2em 0;
    }

    .icon-blog-1 {
        width: 9%;
    }
}