* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;
}



h1 {
    color: red;
    text-align: center;
    font-size: 2.2em;
    margin: 20px 0 8px 0;
}


section > p {
    /* font-size: 1.2em; */
    color: #53575A;
    margin: 0 30px;
}


.dudas {
    color: green;
    text-decoration: none;
}

.sub-title{
    text-decoration: none;
    color: #006DC6;
    font-size: 1.2em;
    text-align: center;
}

.precio-web {
    font-weight: bold;
    color: black;
}

.buttom {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.button {
    background-color: #FF2419;
    color: #FAFDFF;
}

.button:hover {
    background-color: #282D31;
    color: #DFE0E0;
}


.deta {
    text-align: center;
}
.data {
    margin: 5px 0 0 30px;
}

.comunicaciones {
    color: #53575A;
    margin: 20px 0 0 30px;
}

.cursos-edteam:hover {
    text-decoration: none;
}

.cursos-edteam {
    color: #06e637;
}


@media (max-width: 600px) {
    ul{
        margin-left: 9em;
    }
}
