* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* .seyne-s {
    font-family: 'Syne Mono', monospace;
} */

body {
    background-color: #FAFDFF;
}

/* ........................................... */



/* MAIN PLAN */

/* titulo */
h1 {
    color: red;
    text-align: center;
    font-size: 2.2em;
    margin: 20px 0 8px 0;
}
/* parrafo */
section > p {
    margin: 0 30px;
}
/* titulo de seccion */
.sub-title{
    text-decoration: none;
    color: #006DC6;
    font-size: 1.2em;
    text-align: center;
}

/* precio como tal */
.precio-web {
    font-weight: bold;
    color: black;
}
/* -------------------------- */





/* CURSO DE GRABAR CURSOS ONLINE DE EDTEAM */
.cursos-edteam:hover {
    text-decoration: none;
}
.cursos-edteam {
    color: #06e637;
}
/* ------------------------------- */




/* DUDAS */

/* titulo */
.deta {
    text-align: center;
}
/* descripccion */
.data {
    margin: 5px 0 0 30px;
}
/* metodos donde se envian los videos */
.comunicaciones {
    color: #53575A;
    margin: 20px 0 0 30px;
}
/* ----------------------- */




/* BOTON DE IR A PEDIR EL SERVICIO */

.buttom {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.button {
    background-color: #FF2419;
    color: #FAFDFF;
}

.button:hover {
    background-color: #282D31;
    color: #DFE0E0;
}
/* ------------------------------- */





/* DESCONOCIDO */

/* .dudas {
    color: green;
    text-decoration: none;
} */

/* ----------------------- */





/* RESPONSIVE WEB DISENG PARA CELULARES */

@media (max-width: 600px) {
    ul{
        margin-left: 9em;
    }
}
