* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* .seyne-s {
    font-family: 'Syne Mono', monospace;
} */

body {
    background-color: #FAFDFF;
}

/* ..................................... */



/* MAIN PLAN */

/* titulo */
h1 {
    color: red;
    text-align: center;
    font-size: 2.2em;
    margin: 20px 0 8px 0;
}

/* precio de plan con su descripccion */
section > p {
    color: black;
    margin: 0 30px;
}
/* tituto de las secciones */
.sub-title{
    text-decoration: none;
    color: #006DC6;
    font-size: 1.2em;
    text-align: center;
}

/* precion como tal */
.precio-web {
    font-weight: bold;
}
/* -------------------------- */





/* BOTOM DE PEDIR EL SERVICIO */

.buttom {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.button {
    background-color: #FF2419;
    color: #FAFDFF;
}

.button:hover {
    background-color: #282D31;
    color: #DFE0E0;
}
/* -------------------- */





/* DESCONOCIDO */

/* .dudas {
    color: green;
    text-decoration: none;
} */

/* .servicio-domicilio {
    background-color: wheat;
    padding: 5px;
    margin: 0 0 10em 12px;
    font-size: 1.2em;
    border-radius: 10px;
    text-decoration: none;
    color: green;
} */

/* .p {
    text-align: center;
    color: black;
    text-align: center;
    margin: 0 30px;
} */

/* ul {
    text-align: center;
    color: white;
    text-align: center;
    margin-top: 14px;
} */

/* -------------------- */
