* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;
}


h1 {
    color: red;
    text-align: center;
    font-size: 2.2em;
    margin: 20px 0 1rem 0;
}

h2 {
    color: red;
    text-align: center;
    font-size: 2em;
}

section > p {
    font-size: 1em;
    color: #53575A;
    text-align: left;
    margin: 0 30px;
}


.dudas {
    color: rgb(167, 4, 4);
    text-decoration: none;
    margin: 1em 0;
}

.dudas:hover {
    text-decoration: none;
}

.sub-title{
    text-decoration: none;
    color: #006DC6;
    font-size: 1.2em;
    margin: 1em 0;
}

.buttom {
    display: block;
    text-align: center;
    margin-bottom: 1em;
}

.button {
    background-color: #FF2419;
    color: #FAFDFF;
}

.button:hover {
    background-color: #282D31;
    color: #DFE0E0;
}


/* 
.servicio-domicilio {
    background-color: wheat;
    padding: 5px;
    margin: 0 0 10em 0;
    font-size: 1.2em;
    border-radius: 10px;
    text-decoration: none;
    color: green;
} */

.parrafo-juntos {
    margin: 1em 0;
    margin: 0 30px;
}

.comunicaciones {
    color: rgb(27, 27, 27);
    font-size: 1em;
    margin: 0 0 1em 2em;
}