* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;

}

h1 {
    color: #53575A;
    font-size: 2.4rem;
}

.link-blog {
    color: #007BDF;
}

.card-project {
    border: 1px solid #DFE0E0;
}