* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* .seyne-s {
    font-family: 'Syne Mono', monospace;
} */

body {
    background-color: var(--colorFondo);
}
/* ........................................... */


.card-project h3 {
    color: var(--colorTitulo);
}

/* TITULO DE LA PAGINA WEB */
h1 {
    color: #53575A;
    font-size: 2.4rem;
}

/* LINK PARA ENTRAR AL BLOG */
.link-blog {
    color: #007BDF;
}

/* LINK DE BLOG EN HOVER */
.link-blog:hover {
    color: #FF3C32;
}

/* BORDER DEL CARD */
.card-project {
    border: 1px solid #DFE0E0;
}