
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: rgb(173, 169, 169);
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.imagen-condi {
    width: 10%;
    margin: auto;
}

dt {
    color: rgb(22, 247, 228);
    font-size: 1.5em;
    text-align: center;
}

dd{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2em;
}

.link-de {
    color: red;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .imagen-condi {
        width: 20%;
    }

    dt {
        font-size: 1.6em;
    }

    dd {
        font-size: 1em;
        margin-left: 20px;
        margin-right: 25px;
    }
}