
* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;
}

/* ......................................................... */

/* MAIN */

/* titulo */
h1 {
    color: #282D31;
    text-align: center;
    font-size: 2.5em;
}
/* iamgen de condiciones */
.imagen-condi {
    width: 7%;
    margin: auto;
}
/* tituto de cada condiciones */
dt {
    color: #FF3C32;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* descripccion de la condicion */
dd{
    color: #53575A;
    font-size: 1em;
}
/* vinculo de la pagina de negociar, 'esa pagina es la de comenzar en la principal' */
.link-de {
    font-weight: bolder;
    color: #F1A000;
}
.link-de:hover {
    text-decoration: none;
}

/* ------------------------ */

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .imagen-condi {
        width: 20%;
    }

    dt {
        font-size: 1.6em;
    }

    dd {
        font-size: 1em;
        margin-left: 20px;
        margin-right: 25px;
    }
}