* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FF2419;
}

h1 {
    font-size: 2.3em;
    text-align: center;
    color:#141618;
    margin-top: 8px;
}

h4 {
    color: #014883;
}

.adres-contacto {
    width: 3rem;
    height: 3rem;
}


address {
    text-align: center;
}

.comunicaciones {
    color: #DFE0E0;
}

.comunicaciones:hover {
    text-decoration: none;
}

.texte-description {
    color: #DFE0E0;
}
