* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: #007BDF;
}

body {
    background-color: #FAFDFF;
}

.title-documentacion {
    margin: -20px 0 0 0;
    color: #282D31;
}

.descripccion {
    color: #53575A;
    font-weight: initial;
    font-size: .93em;
}

.siglas {
    color: red;
    font-weight: bolder;
}

.services {
    color: red;
    text-decoration: none;
}