body{
    background-image: url(../../images/error-404/HDpng.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(0, 0, 0);
}

.imagen-error {
    width: 8%;
    margin: 6em 0 0 45em;
}

.system {
    color: wheat;
    font-size: 1.5em;
    margin-top: 6em;
    text-align: center;
    text-decoration: none;
}

.volver {
    color: red;
    text-decoration: none;
    margin: 3em;
    display: block;
    text-align: center;
    font-size: 1.4em;
}

@media (max-width: 600px) {
    body {
        background-image: none;
        background-color: rgb(0, 0, 0);
        background-position-y: -4em;
    }

    .imagen-error {
        width: 40%;
        margin: 10em 0 0 6.5em;
    }

    .system {
        color: rgb(0, 204, 255);
    }
}