* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* .seyne-s {
    font-family: 'Syne Mono', monospace;
} */


section > h2 {
    color: #444749;
}

.dark-color {
    background-color: #04355e;
}

.title-2{
    color: #FF2419;
    font-size: 2.8rem;
}

.description {
    color: white;
}

.documentacion {
    text-decoration: none;
}

.item-title {
    color: #007BDF;
}

.item-title:hover {
    text-decoration: none;
}






/* FOOTER */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

.footer-distributed {
    font-family: Roboto;
    font-size: .1em; 
}



.footer-distributed {
    background-color: rgb(10, 89, 194);
    box-shadow: 0 1px 1px 0 #292c2f;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p {
    color: #9c9c9c;
    font-size: 14px;
    margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #e0d8d8;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color:#e0d8d8;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 170px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(10, 89, 194);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}


.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:none;}


/* Media Queries */

@media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
    }
    .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
    }
}


