* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body{
    background-color: #FAFDFF;
}

article {
    margin: 17px auto;
    width: 60%;
    display: inline;
}

@media (max-width: 600px) {
    article {
        margin-top: 20px;
        width: 100%;
    }
}

h1 {
    margin-top: 1em;
    color: #53575A;
    text-align: center;
    font-size: 2em;
}

.descripcion-images {
    text-align: center;
    color: #53575A;
    font-size: 1em;
}


.paypaldona {
    width: 8em;
    margin: 3px auto;
}