body {
    background-color: rgb(173, 169, 169);
}


h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.vinculo-privacidad {
    width: 12%;
    margin: auto;
}


.definicion {
    margin-right: 2px;
}

dt {
    color: rgb(22, 247, 228);
    font-size: 1.5em;
    text-align: center;
}

dd{
    color: rgb(255, 255, 255);
    /* text-align: center; */
    font-size: 1.2em;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    .vinculo-privacidad {
        width: 25%;
    }

    dt {
        font-size: 1.5em;
    }

    dd {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
    }

    ul{
        margin-top: 5px;
    }
}