* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;
}

h1, h2 {
    color: #141618;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.6em;
}


.contact {
    font-size: 1.1em;
    text-align: center;
    color: #53575A;
}

.contact:hover {
    text-decoration: none;
}

.salto-de-linea {
    margin-top: 2em;
    background-color: #FF3C32;
    height: 1px;
}

h2 {
    text-align: center;
    margin-top: 1em;
    font-size: 2em;
}


.coment{
    text-align: center;
    font-size: 1.1em;
    color: #53575A;
}

@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }
}