* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: #FAFDFF;
}

h1, h2 {
    color: #282D31;
}


h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.6em;
}


.contact {
    font-size: 1.1em;
    text-align: center;
    color: #53575A;
}

.contact:hover {
    text-decoration: none;
}

.salto-de-linea-1 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ced1d1;
    height: 1px;
}

.salto-de-linea {
    margin-top: 2em;
    background-color: #ced1d1;
    height: 1px;
}


h2 {
    font-weight: normal;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}


.coment{
    text-align: center;
    font-size: 1.1em;
    color: #53575A;
}

dl {
    color: #282D31;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}

.redes-sociales {
    text-align: center;
}

.redes-sociales a{
    margin: 0 1em;
}

.redes-social-media img{
    width: 4%;
    padding: 4px;
    background-color: #DFE0E0;
    border-radius: 10px;
}


@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }

    .redes-sociales a {
        margin: 0 10px;
    }

    .redes-social-media img {
        width: 10%;
    }
}