* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* .seyne-s {
    font-family: 'Syne Mono', monospace;
} */

body {
    background-color: #FAFDFF;
}
/* ............................................. */


/* MAIN */

/* titulo de la pagina */
h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.6em;
}

/* titulos de la seccion */
h1, h2 {
    color: #282D31;
}

/* ------------------------------------------ */






/* SOPORTE */

/* contacto de numero de telefono */
.contact {
    font-size: 1.1em;
    text-align: center;
    color: #53575A;
}
/* contacto de numero de telefono hover */
.contact:hover {
    text-decoration: none;
    color: #FF3C32;
}

/* ----------------------------------------------- */



/* primer salto de linea */
.salto-de-linea-1 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #ced1d1;
    height: 1px;
}




/* REDES SOCIALES */

/* titulo de redes sociales */
dl {
    color: #282D31;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}
/* poner la seccion de redes sociales en el centro */
.redes-sociales {
    text-align: center;
}
/* separacion de cada red entre ellas */
.redes-sociales a{
    margin: 0 1em;
}
/* la imgen de redes sociales */
.redes-social-media img{
    width: 4%;
    padding: 4px;
    background-color: #DFE0E0;
    border-radius: 10px;
}

/* ------------------------------------------------- */



/* segundo salto de linea */
.salto-de-linea {
    margin-top: 2em;
    background-color: #ced1d1;
    height: 1px;
}



/* COMENTARIOS */

/* las segundas secciones */
h2 {
    font-weight: normal;
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
}
/* instrucciones de comentar */
.coment{
    text-align: center;
    font-size: 1.1em;
    color: #53575A;
}

/* --------------------- */



/* responsive web diseng para celulares */

@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5em;
    }

    .redes-sociales a {
        margin: 0 10px;
    }

    .redes-social-media img {
        width: 10%;
    }
}

.container-coment {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-de-perfil-coment {
    border: 1px solid #282D31;
    height: 3rem;
    width: 2.6rem;
}

.comentario {
    border: 1px solid #282D31;
    margin-left: 1rem;
    height: 3rem;
    width: 20rem;
}

.boton-de-compartir {
    border: 1px solid #282D31;
    background-color: #69e083;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
}