body{
    background-color: rgb(173, 169, 169);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.imagen-termino {
    margin: auto;
    width: 10%;
}

dt {
    color: rgb(22, 247, 228);
    font-size: 1.5em;
    text-align: center;
}

dd{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2em;
}

.vincular {
    text-decoration: none;
    color: rgb(255, 0, 0);
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        text-align: center;
        margin-right: 15px;
    }
    dt {
        font-size: 1-9em;
        text-align: center;
        margin-right: 15px;
    }
    dd {
        font-size: 1em;
        text-align: center;
        margin-right: 25px;
    }
}