* {
    font-family: 'Noto Sans TC', sans-serif;
}

.seyne-s {
    font-family: 'Syne Mono', monospace;
}


body {
    background-color: #FAFDFF;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.imagen-termino {
    margin: auto;
    width: 7%;
    margin-bottom: 10px;
}

dt {
    color: #FF3C32;
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

dd{
    color: #53575A;
}

.vincular {
    text-decoration: none;
    font-weight: bolder;
    color: #F1A000;
}

.vincular:hover {
    text-decoration: none;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        text-align: center;
        margin-right: 15px;
    }
    dt {
        font-size: 1-9em;
        text-align: center;
        margin-right: 15px;
    }
    dd {
        font-size: 1em;
        text-align: center;
        margin-right: 25px;
    }
}